<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

	<title>배너 수정</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<style>
		body        { padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<form action="/admin_banner_edit" method="post">
			<label>배너 이미지</label><a>선택하지 않으면 이전 이미지로 자동 등록</a>
			<input type="file" id="img_input" accept="image/*"><br>
			<input type="hidden" value="<%=banner.banner_img%>" name="banner_img" id="banner_img"/>
			<label>배너 타입</label>
			<select name="banner_type">
				<option>AD</option>
				<option>Link</option>
			</select><br>
			<label>배너 링크</label>
			<input type="text" name="banner_link" value="<%=banner.banner_link%>"/>
			<a>배너 링크는 배너 타입이 link일 경우의 한해서 입력</a><br><br>
			<input type="hidden" name="banner_id" value="<%=banner.banner_id%>"/>
			<input type="submit" value="배너 등록"/>
		</form>
		<br><br><br>
	</div>
</div>
<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script>
    $("#img_input").on('change', function(event){
        var fileReader;
        fileReader = new FileReader();
        fileReader.readAsDataURL(this.files[0]);
        fileReader.onload = function(e){
            $('#banner_img').attr('value', e.target.result);
            console.log(e.target.result);
        };
    });
</script>
</body>
</html>