<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

	<title>Password Reset</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<style>
		body        { padding-top:80px; }
	</style>

</head>
<body>
<div class="container">

	<div class="col-sm-6 col-sm-offset-3">
		<h1>세이종 비밀번호 변경</h1>
		<br>
		<%if(resetstatus){%>
		<h4>비밀번호 변경이 완료되었습니다.</h4>
		<h4>재설정한 비밀번호로 앱에서 로그인 해 주시기 바랍니다.</h4>
		<br><br><br><br>
		<p>기타 문의사항이 있으시면</p>
		<p>sayjong.alom@gmail.com으로 이메일 주시기 바랍니다</p>
		<br>
		<p>세이종 운영팀 드림</p>

		<%} else{%>
		<h4>비밀번호 변경을 실패하였습니다.</h4>
		<h4>sayjong.alom@gmail.com으로 이메일 주시기 바랍니다</h4>
		<br>
		<p>세이종 운영팀 드림</p>
		<%}%>
	</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>